*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

body {
  background-color: #000000;
  background-position: center top;
  background-repeat: no-repeat;
}

.animated__background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.animated__background>video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
}

video {
  object-fit: contain;
}

.container__main {
  background: -webkit-linear-gradient(180deg, rgb(32, 11, 212), rgb(212, 17, 189) 40%, rgb(126, 0, 111) 70%);
  background: -moz-linear-gradient(180deg, rgb(32, 11, 212), rgb(212, 17, 189) 40%, rgb(126, 0, 111) 70%);
  background: linear-gradient(180deg, rgb(32, 11, 212), rgb(212, 17, 189) 40%, rgb(126, 0, 111) 70%);
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.two-columns {
  color: #f1f1f1;
  display: flex;
}

.left-column__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  margin: 10px 6px 10px 14px;

}

.header__content {
  margin: 10px 17px 50px 17px;
  display: flex;
}

.header__avatar img {
  width: 164px;
  height: 164px;
  margin: 30px 22px 20px 17px;
  position: relative;
}


.header__avatar .header__avatar-frame {
  position: absolute;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.header__avatar-frame>img {
  transform: scale(1.22);
}

.header__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  margin-left: 65px;
}

.title__first-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  color: #FFFFFF;
}

.title__last-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #CECACA;
}

.header__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #CECACA;
}

.contact__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 14px;
  margin-left: 20px;
  margin-right: 18px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__list {
  padding: 20px 18px 0 20px;
  display: flex;
  flex-direction: column;
}

.contact__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 14px;
  list-style: none;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position-x: 3%;
  background-position-y: 50%;
}

.contact__telegram {
  background-image: url("./images/telegram.svg");
}

.contact__email {
  background-image: url("./images/email.svg");
}

.contact__discord {
  background-image: url("./images/discord.svg");
}

.contact__item+.contact__item {
  margin-top: 22px;
}



.language__info {
  background: rgba(196, 196, 196, 0.35);
  border-radius: 15px;
  margin: 40px 18px 12px 18px;
}

.language__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding-left: 21px;
  padding-top: 15px;
  margin-bottom: 25px;
}

.language__list {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.language__item {
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-size: 110px 30px;
  background-position-x: 75%;
  background-position-y: 50%;
}

.language__dots-black {
  background-image: url("./images/dots__black.svg");
}

.language__dots-white {
  background-image: url("./images/dots__white.svg");
}

.language__img {
  width: 100px;
  margin-left: 100px;
}

.right-column__content {
  background: #FFFFFF;
  border-radius: 10px;
  width: 50%;
  border-radius: 10px;
  color: #000000;
  margin: 10px 13px 10px 0px;
}

.about-me__content {
  margin: 20px 15px 40px 15px;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 35px;
  width: 230px;
  height: 33px;
  text-align: center;
}

.about-me__title::after {
  content: '';
  background-color: #545454;
  width: 234px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 56px;
}

.about-me__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
  margin-left: 5px;
}

.education__content {
  margin: 20px 15px 40px 15px;
  display: flex;
  flex-direction: column;
}

.education__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 30px;
  width: 230px;
  height: 33px;
  text-align: center;
}

.education__title::after {
  content: '';
  background-color: #545454;
  width: 232px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 56px;
}

.education__item {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
  margin-left: 5px;
}

.skills__content {
  margin: 20px 15px 40px 15px;
  width: 425px;
}

.skills__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 230px;
  height: 33px;
  text-align: center;
  margin-bottom: 30px;
}

.skills__title::after {
  content: '';
  background-color: #545454;
  width: 239px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 74px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-left: 10px;
}

.skills__item {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  color: #545454;
  margin-bottom: 50px;
  width: 80px;
  height: 79px;
}

.skills__item img {
  width: 70px;
  height: 85px;
}

.projects__content {
  margin: 20px 15px 40px 15px;
}

.projects__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 230px;
  height: 33px;
  text-align: center;
  margin-bottom: 30px;
}

.projects__title::after {
  content: '';
  background-color: #545454;
  width: 239px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 42px;
}

.projects__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px 30px;
}

.project__img {
  width: 175px;
}

.project__img:hover {
  box-shadow: 15px 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1);
}

.code-examples__content {
  margin: 20px 15px 40px 15px;
}

.code-examples__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 230px;
  height: 33px;
  text-align: center;
}

.code-examples__title::after {
  content: '';
  background-color: #545454;
  width: 239px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 25px;
}

.js__code {
  background-color: #0f1013de;
  color: #f8f8f8;
  display: block;
  font-family: monospace;
  width: 380px;
  margin-left: 20px;
}

.js__keyword {
  color: #b45ea4;
}

.js__function {
  color: #e28964;
}

.js__var {
  color: #e28964;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 15px 30px 15px 30px;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.github {
  color: #fff;
  background-image: url("./images/github.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  transition: 0.3s;
}

.year {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.rsschool-item {
  background-image: url("./images/rs_school.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 50px;
  transition: 0.3s;
}

.github:hover {
  filter: invert(1);
}

.rsschool-item:hover {
  filter: invert(1);
}