*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

body {
  background-color: #000000;
  background-position: center top;
  background-repeat: no-repeat;
}

.animated__background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.animated__background>video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
}

video {
  object-fit: contain;
}

.container__main {
  background: -webkit-linear-gradient(180deg, rgb(32, 11, 212), rgb(212, 17, 189) 40%, rgb(126, 0, 111) 70%);
  background: -moz-linear-gradient(180deg, rgb(32, 11, 212), rgb(212, 17, 189) 40%, rgb(126, 0, 111) 70%);
  background: linear-gradient(180deg, rgb(32, 11, 212), rgb(212, 17, 189) 40%, rgb(126, 0, 111) 70%);
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.two-columns {
  color: #f1f1f1;
  display: flex;
}

.left-column__content {
  width: 50%;
  display: inline-block;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  margin: 10px 6px 10px 14px;

}

.header__content {
  margin: 10px 17px 30px 17px;
  display: flex;
}

.header__avatar img {
  width: 164px;
  height: 164px;
  border-radius: 93px;
  margin: 10px 22px 20px 17px;
}

.header__info {
  display: grid;
  width: 100%;
  justify-content: space-around;
  margin-top: 15px;
}

.title__first-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  color: #FFFFFF;
}

.title__last-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #CECACA;
}

.header__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  color: #CECACA;
}


.contact__list {
  padding: 20px 18px 0 20px;
}

.contact__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 15px;
  list-style: none;
  padding: 20px;
  text-align: center;
}

.contact__item+.contact__item {
  margin-top: 22px;
}

.contact__img {
  float: left;
}

.language__info {
  background: rgba(196, 196, 196, 0.35);
  border-radius: 15px;
  margin: 40px 18px 12px 18px;
}

.language__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding-left: 21px;
  padding-top: 15px;
  margin-bottom: 25px;
}

.language__list {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  padding-left: 22px;
  display: inline-block;
  margin-bottom: 15px;
}

.language__item {
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.language__img {
  width: 100px;
  margin-left: 100px;
}

.right-column__content {
  background: #FFFFFF;
  border-radius: 10px;
  width: 50%;
  border-radius: 10px;
  color: #000000;
  margin: 10px 13px 10px 0px;
}

.about__content {
  margin: 20px 15px 50px 15px;
}

.about-me__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 35px;
  width: 230px;
  height: 33px;
  text-align: center;
}

.title__line {
  background-color: #545454;
  width: 224px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 226px;
}

.about-me__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.education__content {
  margin: 20px 15px 50px 15px;
}

.education__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 30px;
  width: 230px;
  height: 33px;
  text-align: center;
}

.education__item {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
}

.skills__content {
  margin: 20px 15px 50px 15px;
  width: 425px;
}

.skills__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 230px;
  height: 33px;
  text-align: center;
  margin-bottom: 30px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-left: 10px;
}

.skills__item {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  color: #545454;
  margin-bottom: 25px;
  width: 80px;
  height: 79px;
}

.skills__item img {
  width: 70px;
  height: 85px;
}

.code-examples__content {
  margin: 20px 15px 50px 15px;
}

.code-examples__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  background: #545454;
  border-radius: 10px;
  border: 10px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 230px;
  height: 33px;
  text-align: center;
}

.title__line {
  background-color: #545454;
  width: 224px;
  height: 2px;
  position: absolute;
  margin-top: 16px;
  margin-left: 226px;
}

.js__code {
  background-color: #0f1013de;
  color: #f8f8f8;
  display: block;
  font-family: monospace;
  width: 350px;
}

.js__keyword {
  color: #b45ea4;
}

.js__function {
  color: #e28964;
}

.js__var {
  color: #e28964;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 20px 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  height: 67px;
}

.footer__github {
  display: flex;
  flex-direction: inherit;
}

.footer__github img {
  width: 35px;
  height: 35px;
}

.github__text {
  margin-left: 20px;
  margin-top: 7px;
}

.footer__year {
  margin-top: 7px;
}

.footer__rsschool img {
  width: 82px;
  height: 32px;
}